<!DOCTYPE html>
<html>
  <head>
    <title> Try StatSailr </title>
    <link rel="icon" href="/icon/favicon.ico" />
    <link rel="stylesheet" href="/css/mystyle.css" />
  </head>
  <body>

<div class="container is-max-widescreen">
<nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/">
        <strong> StatSailr.RUN </strong>
      </a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <a href="https://statsailr.io">
        <span>Visit StatSailr.io</span>
      </a>
    </div>
  </div>
</nav>

</div>
    <div class="has-background-info-light mx-auto">
        <%= yield %>
    </div>
  </body>
</html>
